.num1{
    background-color: lightpink;
    font-family: Verdana, DejaVu, sans-serif;
}

.num3{
    background-color: lightpink;
    font-family: Verdana, DejaVu, sans-serif;
    font-size: 24px;

}

#num2{
    color:blue;
    font-size: 36px;
}

#num4{
    background-color: lightgreen;
    font-family: Verdana, DejaVu, sans-serif;
    font-size: 24;
    font-weight: bold;
}

.num5{
    background-color: lightpink;
    font-family: Verdana, DejaVu, sans-serif;
}